Repository Basis-Theory/react-native-threeds: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files} --no-warn-ignored
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix: fix pipelines (#4)
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: none

chore: update release pipeline (#5)
  .releaserc.json
  package.json
Due: none

feat: support new create session params (#6)
  example/src/App.tsx
  src/BasisTheory3dsProvider.tsx
  src/__tests__/BasisTheory3dsProvider.test.tsx
  src/types/index.d.ts
Due: lint, types

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: none

docs: add package json bump and fix readme (#7)
  README.md
  bump.js
  eslint.config.mjs
  package.json
  prepare.js
Due: lint, types

chore: fix prepare script (#8)
  prepare.js
Due: lint, types

ci: update release notification (#11)
  .github/workflows/release.yml
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c5c98c704a4bcd5710414e2f0ef3d3099afd1850
Due: none

fix: update package-name and version
  package.json
Due: none

fix: update yarn lock
  yarn.lock
Due: none

fix: update package-name and version (#2)
  package.json
  yarn.lock
Due: none

Notes added by 'git notes add'
  7c385618f5d086a961ed85305fd5af8fc6db8dcb
Due: none

feat: add additional card brands prop
  src/__tests__/BasisTheory3dsProvider.test.tsx
  src/types/index.d.ts
Due: lint, types

feat: add additional card brands prop (#6)
  src/__tests__/BasisTheory3dsProvider.test.tsx
  src/types/index.d.ts
Due: lint, types

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  4f765deab046c79612cb4420f1fc1ea09f0a8513
Due: none

chore: remove uuid dependency and rename package
  README.md
  example/src/App.tsx
  package.json
  src/BasisTheory3dsProvider.tsx
  src/__tests__/BasisTheory3dsProvider.test.tsx
  src/__tests__/useBasisTheory3ds.test.tsx
  src/useBasisTheory3ds.tsx
  src/utils/__tests__/uuid.test.ts
  src/utils/uuid.ts
  tsconfig.json
  yarn.lock
Due: lint, types

fix: add trusted publishing
  .github/workflows/deploy-dev.yml
  .github/workflows/release.yml
  .releaserc.json
  makefile
  package.json
  scripts/updateversion.sh
Due: none

fix: add trusted publishing (#8)
  .github/workflows/deploy-dev.yml
  .github/workflows/release.yml
  .releaserc.json
  makefile
  package.json
  scripts/updateversion.sh
Due: none

fix: correct yarn command syntax for Yarn v3
  .github/workflows/deploy-dev.yml
  .github/workflows/release.yml
Due: none

fix: correct yarn command syntax for Yarn v3 (#9)
  .github/workflows/deploy-dev.yml
  .github/workflows/release.yml
Due: none

chore: remove uuid dependency and rename package (#7)
  README.md
  example/src/App.tsx
  package.json
  src/BasisTheory3dsProvider.tsx
  src/__tests__/BasisTheory3dsProvider.test.tsx
  src/__tests__/useBasisTheory3ds.test.tsx
  src/useBasisTheory3ds.tsx
  src/utils/__tests__/uuid.test.ts
  src/utils/uuid.ts
  tsconfig.json
  yarn.lock
Due: lint, types

chore: migrate from github-actions to public-github-actions [skip ci]
  .github/workflows/deploy-dev.yml
  .github/workflows/release.yml
Due: none

chore: migrate from github-actions to public-github-actions [skip ci] (#10)
  .github/workflows/deploy-dev.yml
  .github/workflows/release.yml
Due: none

fix(ENG-11542): drop semantic-release PAT from checkout (use GITHUB_TOKEN)
  .github/workflows/deploy-dev.yml
  .github/workflows/release.yml
Due: none

fix(ENG-11542): drop semantic-release PAT from checkout (use GITHUB_TOKEN) (#11)
  .github/workflows/deploy-dev.yml
  .github/workflows/release.yml
Due: none

feat: pass tenantId/tenantType through to the web SDK challenge telemetry
  src/BasisTheory3dsProvider.tsx
  src/types/index.d.ts
Due: lint, types

feat(ENG-11715): add region prop for regional API hosts
  src/BasisTheory3dsProvider.tsx
  src/utils/__tests__/urls.test.ts
  src/utils/urls.ts
Due: lint, types

feat(ENG-11715): add region prop for regional API hosts (#13)
  src/BasisTheory3dsProvider.tsx
  src/utils/__tests__/urls.test.ts
  src/utils/urls.ts
Due: lint, types

ci: pin npm to 11.18.0 so trusted publishing installs on node 20
  .github/workflows/release.yml
Due: none

ci: pin npm to 11.18.0 so trusted publishing installs on node 20 (#14)
  .github/workflows/release.yml
Due: none

fix(ENG-12926): start example on the compiled 3DS strategy
  example/.maestro/tests/AuthenticationFailed.yaml
  example/.maestro/tests/AuthenticationRejected.yaml
  example/.maestro/tests/AuthenticationUnavailable.yaml
  example/.maestro/tests/ChallengeSuccess.yaml
  example/.maestro/tests/FrictionlessSuccess.yaml
  example/src/App.tsx
Due: lint

test(ENG-12926): assert the expected 3DS strategy in each E2E job
  .github/workflows/pull-request.yml
  example/.maestro/tests/AuthenticationFailed.yaml
  example/.maestro/tests/AuthenticationRejected.yaml
  example/.maestro/tests/AuthenticationUnavailable.yaml
  example/.maestro/tests/ChallengeSuccess.yaml
  example/.maestro/tests/FrictionlessSuccess.yaml
  example/README.md
  example/android/settings.gradle
  example/ios/Podfile
Due: none

ci(ENG-12926): scope E2E secrets and fail fast when missing
  .github/workflows/pull-request.yml
Due: none
